* {
    box-sizing: border-box;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    width: 100%;
    float: left;
    margin-right: 3%;
}

@media only screen and (min-width: 600px) {
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
}

.header{
    border: 1px solid blue;
    padding: 22px;
    background-color: aqua;
}

.header h1{
    background-color: azure;
    width: fit-content;
    animation-name: harsh;
    animation-duration: 4s;

}

@keyframes harsh {
    from {background-color: red;}
    to {background-color: yellow;}
    from {font-size: xx-large;}
    to{font-size: small;}
}

.header li{
    list-style: square;
    background-color: beige;

}

.header .contact, .contactlink{
    background-color: bisque;
    width: fit-content;
}
.hobbies{
    padding: 22px;
    border: 1px solid blue;
    background-color: antiquewhite;
}

.description{
    padding: 22px;
    border: 1px solid blue;
    background-color: rgb(150, 236, 203);
}
