
.box{
    border: 1px solid black;
    width: 150px;
    height: 100px;
    margin: -4px;
    display: inline-block;
}

.uno{
    background-color: #f00;
}

.dos{
    background-color: #0f0;
}

.tres{
    background-color: #0000ff;
}

.cuatro{
    background-color: #ff0;
}

.cinco{
    background-color: #0ff;
}

